header{
    background-color: rgba(66, 24, 179, 0.844);
    float: left;
    border-radius: 5px 5px 5px 5px;
}
footer{
    background-color: blueviolet;
}
a{
    text-decoration-line: underline;
    font-weight: bold;
    font-style: italic;
    color: rgb(10, 207, 221);
    font-family: 'Merriweather', serif
}
body{
    background-color:  darkslateblue;
}